{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <ul class="sidebar-menu" data-widget="tree">
        <li class="first">
            <a href="{{ path('generatePhpConfig') }}">
                保存配置
            </a>
        </li>
    </ul>
{% endblock %}